[Desktop Entry]
Name=Xine player
Name[pl]=Odtwarzacz xine
Comment=Movie player
Comment[pl]=Odtwarzacz filmów
Icon=xine.png
Exec=xine
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AudioVideo
# vi: encoding=utf-8
