[Desktop Entry]
Name=xine player
Name[pl]=Odtwarzacz xine
Comment=Movie player
Comment[pl]=Odtwarzacz filmów
Icon=
Exec=xine
Terminal=0
Type=Application

