[Desktop Entry]
Name=Xine player
Name[pl]=Odtwarzacz xine
Comment=Movie player
Comment[pl]=Odtwarzacz filmów
Icon=xine
Exec=xine
Terminal=false
Type=Application
Categories=AudioVideo;Player;
# vi: encoding=utf-8
